* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b90e0a;
}

html, body {
}

#szoveg {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: underline;
  font-family: "Sofia", sans-serif;
  font-weight: bold;
  font-size: 45px;
  display: inline;
}

.imgbox {
  display: grid;
  height: 75%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

#kep {
  max-width: 75%;
  max-height: 75vh;
  margin-left: auto;
  margin-right: auto;
}